<!--base.html 확장-->
{% extends 'base.html' %}

<!--static 폴더의 정적 파일 적용-->
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock head %}

{% block title %}
회원가입 | Pystagram
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div style="margin-top:100px;">
            <div class="card">
                <h4 class="card-header">Sign Up</h4>
                <div class="card-body">
                    <div class="text-center">
                        <img class="" src="{% static 'images/signup.png' %}">
                    </div>
                    <form class="mt-3" action="{% url 'accounts:pn_reg_accounts' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!--input의 name 속성은 view에서 정의한 것과 일치하도록-->
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="이메일 주소">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="성명">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_id" name="user_id" placeholder="사용자 이름">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="user_pw" name="user_pw" placeholder="비밀번호">
                        </div>
                        <button type="submit" class="btn btn-primary">가입하기</button>
                    </form>
                </div>
            </div>

            <!--view에서 messages 프레임워크를 활용해 정의한 messages 적용-->
            {% if messages %}
                <div >
                    {% for message in messages %}
                        {{ message.tags }}! {{ message.message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="card mt-2">
                <div class="text-center mt-3">
                    <p>이미 계정이 있으신가요? <a href="{% url 'accounts:pn_login' %}">로그인</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}