<h1>HOME</h1>

{% if user.is_authenticated %}
    <a class="nav-link" style="color:black;">{{ user.username}}님! 환영합니다 </a>
    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %} <input type="hidden" />
        </form>

     <a class="nav-link" href="{% url 'userHome' %}">사용자채널</a>

{% else %}
    <a class="nav-link" href="{% url 'login' %}">로그인</a>
    <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
{% endif %}